

<nav class="navbar navbar-expand-sm bg-primary navbar-dark" style="align-items: center;">
<ul class="navbar-nav">

    <li class="nav-item">
        <a routerLink="create-user" routerLinkActive="active" class="nav-link"  style="margin-right: 50px; margin-left: 150px;">Nouveau Client</a>
    </li>
    <li class="nav-item">
        <a routerLink="users" routerLinkActive="active" class="nav-link" style="margin-right: 20px;">Client List</a>
    </li>

  
</ul>


<ul class="navbar-nav">
    
    <li class="nav-item">
        <a routerLink="create-produit" routerLinkActive="active" class="nav-link" style="margin-right: 20px;">Nouveau Produit</a>
    </li>

<li class="nav-item">
    <a routerLink="produits" routerLinkActive="active" class="nav-link" style="margin-right: 20px;">Produit List</a>
</li>


</ul>


<ul class="navbar-nav">
    
    <li class="nav-item">
        <a routerLink="create-categorie" routerLinkActive="active" class="nav-link" style="margin-right: 20px;">Nouveau Categorie</a>
    </li>

<li class="nav-item">
    <a routerLink="categories" routerLinkActive="active" class="nav-link" style="margin-right: 20px;">List Categorie</a>
</li>


</ul>



</nav>


<h1 class="text-center"style="color: blue;">{{title}}</h1>
<div class="container">
<router-outlet></router-outlet>

</div>

<footer class="footer"> 

    <div class="container">
        <span> Simplon@ 2022</span>
    </div>

</footer>